/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  body, td, p, a, li {
   font-family: 'Poppins', sans-serif;
  }

  h1 {
    text-align: center;
  }

  p {
  font-weight: 300;
  }

 footer {
   /*position: absolute;*/
   bottom: 0;
   text-align: center;
   padding-top: 15px;
   padding-bottom: 10px;
   color: #0fcdf2;
   background-color: black;
   width: 100%;
 }

 footer p {
   padding-bottom: 0;
 }

 label {
   padding-top: 5%;
 }
 a:visited {
   color: white;
 }

 thead {
   background-color: #0fcdf2;
 }

 tr:hover {
   background: rgba(15,205,242, .3);
 }

 i {
   color: black;
 }

 td i a:hover {
   background-color: none;
 }

 .concert-li-container {
   width: 100%;
   text-align: center;
 }

 .current-concert ul {
   list-style: none;
   display: inline;
 }

 .current-concert li {
   float: left;
   padding-left: 15px;
 }

 .table-container {
   width: 70%;
   margin-left: 15%;
 }

 .btn-primary, .btn-default {
   background-color: #0fcdf2;
   border: none;
   color: white;
 }

 .btn-primary:hover, .btn-default:hover {
   background-color: #9c2c86;
   color: white;
 }

 .btn-link {
   color: #0fcdf2;
 }

 .btn-link:hover {
   color: #9c2c86;
   text-decoration: none;
 }

 #our-nav a:hover {
     color: #edf2f4;
 }

 .footer {
   padding: 0;
 }

.navbar {
  padding-top: 2vh;
  padding-bottom: 3vh;
  margin-bottom: 0;
  background-color: black;
  border: none;
}

.navbar-brand {
  font-size: 40px;
  font-weight: 500;
  color: #0fcdf2;
}

.navbar-brand a:hover {
  color: #edf2f4;
}

.navbar-default .navbar-brand {
  color: #0fcdf2;
  padding-top: 20px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px ;
    color: #0fcdf2;
}

.navbar, .navbar-default, .navbar-static-top {
  padding-top: 20px;
}

 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #3071a9;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-right: 0;
}

.modal-content {
  padding: 5%;
}

#concert-lookup-results {
  display:none;
}

.well.results-block {
  display:flex;
}

#search-submit {
  margin:10px;
}
