/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.concert-container {
  width: 500px;
  margin: 0 auto;
}

.button-container {
  text-align: center;
  padding-bottom: 10px;
}

dl {
    margin-left: 75px;
}

#remove-btn {
  background-color: #9c2c86;
}

#remove-btn:hover {
  background-color: 	#0fcdf2;
}
