/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.concert-container {
  width: 500px;
  margin: 0 auto;
  margin-left: 22%;
  height: 73vh;
  padding-top: 3%;
}

.page-header {
  border-top: none;
}

.button-container {
  text-align: center;
  padding-bottom: 10px;
  margin-left: 20%;
  margin-bottom: 13%;
}

.pic-container {
  width: 500px;
  margin: 0 auto;
}

dl {
    margin-left: 75px;
}

dl-horizontal {
  padding-bottom: 0;
}

#remove-btn {
  background-color: #9c2c86;
}

#remove-btn:hover {
  background-color: 	#0fcdf2;
}

.background-pic {
  background-image: url("http://goo.gl/DuJpxn");
  height: 236px;
}

  #conc-image {
  border-radius: 5%;
}

.results-block {
  width: 0px;
  background-color: transparent;
  border: none;
}

.alert-warning {
  background-color: #9c2c86;
  background-image: url("http://i.imgur.com/5RMLfSp.jpg?1");
  background-repeat: no-repeat;
  border: none;
  z-index: 1;
  background-size: cover;
  height: 40rem;
  width: 100%;

}
/*
concert-lookup-results {
  width: 100%;
  max-width: 100%;
  content: center;
  float:right;
}*/

.search-title {
  color: 	#9c2c86;
}

.search-container {
  justify-content: center;
}
