/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

 h4 {
   margin-top: 20px;
  text-align: center;
 }
 h5 {
  margin-top: 50px;
  text-align: center;
  }

  .meetup-container {
    height: 67vh;
  }

  .event-container {
    height: 78vh;
  }

 #map {
   height: 85%;
   width: auto;
 }

 #map-container {
   width: 50%;
   overflow: auto;
   height: 100vh;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #floating-panel {
   z-index: 5;
   background-color: #fff;
   padding: 5px;
   text-align: center;
   font-family: 'Roboto','sans-serif';
   line-height: 30px;
   padding-left: 10px;
 }

 #latlng {
   width: 225px;
 }

 .event-index {
   padding-bottom: 5%;
 }

.meetup-container {
  height: 230px;
 }

 .event-buttons {
   text-align: center;
   margin-bottom: 10%;
   height: 100px;
 }
