/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

dl {
    /*flex-basis: 75%;*/
    text-align: left;
}

.profile_pic {
    max-width: 250px;
    min-width: 100px;
    flex-basis: 25%;
    width: auto;
    background-color: grey;
    border-radius: 10%;
}

.profile_page {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 3%;
    margin-bottom: 8%;
}

.profile_info {
  padding-left: 10%;
}
